.access-form-container {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.tally-iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
